[
	{kernel, [
		{inet_dist_listen_min, 8000},
		{inet_dist_listen_max, 8020},
		{error_logger, {file, "./ipro_kernel.log"}}
	]},
	{lager, [
        {handlers, [
			{lager_console_backend, [{level,info}]},
				{lager_file_backend, [{file, "./log/error.log"},
										{level, error},
										{size, 10485760},
										{date, "$D0"},
										{count, 5}]},
				{lager_file_backend, [{file, "./log/console.log"},
										{level, info},
										{size, 10485760},
										{date, "$D0"},
										{count, 5}]}
		]},
        {crash_log, "./log/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]},
	{ipro, [
		{other_nodes, ['ipro1@127.0.0.1', 'ipro2@127.0.0.1']},
		{idle_check_period, 10000},
		{error_check_period, 1000}
	]},
	{sasl, [
		{sasl_error_logger, {file, "./log/ipro_sasl.log", [append]}}
	]}
].
