[
	{kernel, [
		{inet_dist_listen_min, {{epmd_min}}},
		{inet_dist_listen_max, {{epmd_max}}},
		{error_logger, {file, "{{kernel_error_logger_file}}"}}
	]},
	{ipro, [
		{other_nodes, {{other_ipro_nodes}}},
		{idle_check_period, {{idle_check_period}}},
		{error_check_period, {{error_check_period}}}
	]},
	{sasl, [
		{sasl_error_logger, {file, "{{sasl_error_file}}", [append]}}
	]}
].