[
	{kernel, [
		{inet_dist_listen_min, {{epmd_min}}},
		{inet_dist_listen_max, {{epmd_max}}},
		{error_logger, {file, "{{kernel_error_logger_file}}"}}
	]},
	{lager, [
        {handlers, [
			{lager_console_backend, [{level,info}]},
				{lager_file_backend, [{file, "{{platform_log_dir}}/error.log"},
										{level, error},
										{size, 10485760},
										{date, "$D0"},
										{count, 5}]},
				{lager_file_backend, [{file, "{{platform_log_dir}}/console.log"},
										{level, info},
										{size, 10485760},
										{date, "$D0"},
										{count, 5}]}
		]},
        {crash_log, "{{platform_log_dir}}/crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 10485760},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},
        {error_logger_redirect, true}
    ]},
	{ipro, [
		{other_nodes, {{other_ipro_nodes}}},
		{idle_check_period, {{idle_check_period}}},
		{error_check_period, {{error_check_period}}}
	]},
	{sasl, [
		{sasl_error_logger, {file, "{{sasl_error_file}}", [append]}}
	]}
].
