{recursive_cmds, [clean,eunit]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
    {lager, {git, "https://github.com/K2InformaticsGmbH/lager.git", {tag, "3.6.4"}}}
]}.

{relx, [
    {release, {ipro, "0.0.2"}, [ipro]},

    {dev_mode, true},
    {generate_start_script, false},
    {include_erts, true},

    {overlay_vars, "config/dev.config"},
    {overlay, [
        {mkdir, "log/"},
        {copy, "LICENSE", "LICENSE"},
        {copy, "README.md", "README.md"},
        {template, "ipro.config", "releases/{{release_version}}/ipro.config"},
        {template, "ipro.ps1", "bin/ipro.ps1"}
    ]}
]}.

{profiles, [
    {node1, [
        {relx, [{dev_mode, false}, {overlay_vars, "config/test_node1.config"}]}
    ]},
    {node2, [
        {relx, [{dev_mode, false}, {overlay_vars, "config/test_node2.config"}]}
    ]}
]}.
