{recursive_cmds, [clean,eunit]}.

{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
    {release, {ipro, "0.0.1"}, [ipro]},

    {dev_mode, false},
    {generate_start_script, false},
    {include_erts, true},

    {overlay_vars, "config/vars.config"},
    {overlay, [
        {mkdir, "log/"},
        {copy, "LICENSE", "LICENSE"},
        {copy, "README.md", "README.md"},
        {template, "ipro.config", "releases/{{release_version}}/ipro.config"},
        {template, "ipro.ps1", "bin/ipro.ps1"}
    ]}
]}.