{recursive_cmds, [clean,eunit]}.

{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
    {release, {ipro, "0.0.1"}, [ipro]},

    {dev_mode, true},
    {extended_start_script, true},
    {include_erts, true},

    {overlay_vars, "config/vars.config"},
    {overlay, [
        {copy, "LICENSE", "LICENSE"},
        {copy, "README.md", "README.md"},
        {copy, "kill_epmd.ps1", "bin/kill_epmd.ps1"},

        {template, "config/sys.config", "releases/{{rel_vsn}}/sys.config"},
        {template, "config/vm.args", "releases/{{rel_vsn}}/vm.args"}
    ]}
]}.